{% extends 'SeminarioBundle::layout.html.twig' %}

{% block body %}


        <h1>Advertencia!</h1>

        <h2>El servidor regresó un código:"{{ status_code }} {{ status_text }}".</h2>

        <div>
            Favor de reportar el error
        </div>

{% endblock %}