{% extends '::base.html.twig' %}
    {% block title %}Bienvenido{% endblock %}
    {% block stylesheets %}
        <link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/seminario/css/default.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/seminario/css/component.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/seminario/css/bootstrap.css')}}" />

    {% endblock %}
    {% block body %}
        <div class="container">
            <header class="clearfix">
                <span>Seminarios Coloquios</span>
                <h1>Centro de Ciencias Matematicas UNAM</h1>
                <nav>
  <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</nav>
            </header>   
            <div class="main">
                <nav id="cbp-hrmenu" class="cbp-hrmenu">
                    <ul>{% block li %}
                        <li class="">
                            <a href="">Seminarios</a>
                            <div class="cbp-hrsub">
                                <div class="cbp-hrsub-inner">

                                    <div>
                                         <h4>Seleccione Campo:</h4>
                                        <ul>
                                            <li><a href="http://hugo.local/app_dev.php/seminario/">Listado Seminarios</a></li>
                                            <li><a href="http://hugo.local/app_dev.php/seminario/new">Agregar Seminarios</a></li>
                                        </ul>

                                    </div>


                                </div><!-- /cbp-hrsub-inner -->

                            </div><!-- /cbp-hrsub -->


                        </li>
                        {% endblock %}
                        <li>
                            <a href="">Responsables</a>
                            <div class="cbp-hrsub">
                                <div class="cbp-hrsub-inner">
                                    <div>
                                        <ul><li>hola</li></ul>
                                    </div>
                                    
                                </div><!-- /cbp-hrsub-inner -->
                                
                            </div><!-- /cbp-hrsub -->
                            
                        </li>
                        <li>
                            <a href="">Eventos</a>
                            <div class="cbp-hrsub">
                                <div class="cbp-hrsub-inner"> 
                                    <div>
                                        <h4>Seleccione Campo:</h4>
                                        <ul>
                                           
                                        </ul>
                                        
                                    </div>
                                    
                                </div><!-- /cbp-hrsub-inner -->
                                
                            </div><!-- /cbp-hrsub -->
                            
                        </li>
                       
                    </ul>
                </nav>
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ asset('bundles/seminario/js/cbpHorizontalMenu.min.js')}}"></script>
        <script>
            $(function() {
                cbpHorizontalMenu.init();
            });
        </script> 
    {% endblock %}                                        
