# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: seminarios-ccm
    database_user: root
    database_password: db-pass
    mailer_transport: smtp
    mailer_host: churipo.matmor.unam.mx
    mailer_user: user
    mailer_password: pass
    mailer_port: 465
    mailer_encryption: tls

    locale: en
    secret: 433c3bd784450e1f17f959acfec17c37884f355e