{# app/Resources/views/Security/login.html.twig #}
{% extends 'SeminarioBundle::layout.html.twig' %}
{# ... you will probably extends your base template, like base.html.twig #}

{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData) }}</div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        {#<label for="username"  class="sr-only">Usuario:</label>#}
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="User" required/>
        </div>

        {#<label for="password" class="sr-only">Contraseña:</label>#}
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required/>
        </div>
        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <button class="btn btn-lg btn-primary btn-block" type="submit">login</button>
    </form>

{% endblock %}
